@charset "ISO-8859-1";

 body {
     font-family: 'Arial', sans-serif;
     background-color: var(--bg-color);
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }
 .register-container {
     background-color: var(--secondary-color);
     color: var(--font-color);
     padding: 40px;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0,0,0,0.1);
     width: 100%;
     max-width: 400px;
 }
 .register-container h1 {
     margin-bottom: 20px;
 }
 .input-group {
     margin-bottom: 20px;
 }
 .input-group input {
     width: 100%;
     padding: 10px;
     font-size: 1em;
     border-radius: 5px;
     border: none;
     margin-top: 10px;
 }
 .btn {
     background-color: var(--accent-color);
     border: none;
     padding: 10px;
     color: white;
     font-size: 1em;
     border-radius: 5px;
     cursor: pointer;
     width: 100%;
 }
 @media (max-width: 768px) {
     .register-container {
         padding: 20px;
     }
 }